{% extends "base.html" %}

{% block content %}

<form method="post" style="text-align: left;">	
<h2>Login</h2>
	<table>
		<tr>
			<td style="text-align:right">
			<label style="font-weight:bold"	>	Username		</label>
			</td>
			<td>
			<label>
					<input type="text" name="username" value="{{uname}}" required>
			</label>
			</td>
			<td style="color:red">{{ unameerror }} 
			</td>			
		</tr>
		<tr>
			<td style="text-align:right" >
			<label style="font-weight:bold"> Password 	</label>
			</td>
			<td>
			<label>
				<input type="password" name="password" value="{{pw}}" required>
			</label>
			</td>
			<td style="color:red">{{ pwerror }}
			</td>			
		</tr>
	</table>
	<br>
	<div style="color:red">
		{{ error }}
	</div>	
	<br>
	<input type="submit" name="submit">
</form>
{% endblock %}